
/* The sidebar menu */
.sidebar {
    width: 16%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0%; /* Stay at the top */
    left: 0;
    background-color: #ffffff; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    padding-bottom: 5%;
    
  }
  .sidebar a {
    padding: 10% 10% 1% 30%;
    text-decoration: j;
    font-size: 120%;
    color: #000000;
    display: block;
    white-space: nowrap;
  }

  .title {
    padding: 10% 10% 1%;
    text-decoration: honeydew;
    font-size: 130%;
    color: #000000;
    display: block;
    white-space: nowrap;
  }

/* Navigation bar styling */
/*left side of search bar*/
.navigation-bar {
  display:flex;
  position: fixed;
  background-color: white;
  border-bottom: 5px solid purple;
  margin: auto;
  padding: 1%;
  justify-content: left;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index:10;
}
/*right side of search bar*/
.navigation-socials {
  display: flex;
  position: fixed;
  background-color: white;
  padding-top: 7px;
  margin:auto;
  width: 100%;
  top: 0%;
  left: 85%;
}
/* links to other parts of the site*/
.nav-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif; 
  background-color: white;
  padding: 6px;
  margin-right:3%;
  text-decoration:none;
  color: purple;
}
/*change color to black on hover*/
.nav-button:hover {
  color:black;
  border-bottom: #000000 solid 1px;
}
/* links to other sites (in images)*/
.nav-image {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif; 
  background-color: white;
  padding: 3.5px;
  padding-right: 3%;
  margin-left: 10px;
  height: 25px;
  width: auto;
}
/*add underline on hover*/
.nav-image:hover {
  border: #000000 solid 1px;
}

/*Footer Styling*/
.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: rgb(155, 41, 155);
  opacity: 0.9;
  height: 5%;
  margin-top: auto;
  z-index: 10;
}
.footer-sig {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  color: rgb(233, 224, 224);
  background-color: rgb(155, 41, 155);
  padding:1.5%;
  margin: 0;
}

/*styling initial blurb*/
.opener-container {
  position:relative;
  height: 100%;
  width: 80%;
  top:20%;
  left:0;
}
.midground-image {
  position: relative;
  margin: 10% 10% 10% 10%;
  background-color: darkgrey;
  padding:0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.vt{
  border-radius: 5px;
}
.midground-text{
  position: absolute; 
  padding-top: 10%;
  top: 5%; 
  right: 1%; 
  width: 40%;
  height: 35%;
  z-index: 2;
  background-color: rgba(160, 98, 179, 0.6);
  border-radius: 15px;
}
.midground-text:hover{
  background-color: rgba(160, 98, 179, 0.8);
}
.midground-welcome{
  font-style: italic ;
  position: absolute;
  top:15%;
  left:15%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  font-size: 3vw;
}
.midground-opener{
  padding: 5%;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left:40%;
  transform: translate(-50%, -50%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
}
.midground-cmda-button {
  font-style: italic ;
  padding: 5%;
  font-size: 1.5vw;
  position: absolute;
  top: 75%;
  left: 20%;
  color: rgb(87, 85, 85);
  background-color: rgb(224, 217, 217);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  border: 3px solid rgb(87, 85, 85);
  border-radius: 7px;
}
.midground-cmda-button:hover {
  color: rgb(224, 217, 217);
  background-color: rgb(87, 85, 85);
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
}






