body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

/* Navigation bar styling */
/*left side of search bar*/
.navigation-bar {
  display:flex;
  position: fixed;
  background-color: white;
  border-bottom: 5px solid purple;
  margin: auto;
  padding: 1%;
  justify-content: left;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index:10;
}
/*right side of search bar*/
.navigation-socials {
  display: flex;
  position: fixed;
  background-color: white;
  padding-top: 7px;
  margin:auto;
  width: 100%;
  top: 0%;
  left: 85%;
}
/* links to other parts of the site*/
.nav-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif; 
  background-color: white;
  padding: 6px;
  margin-right:3%;
  text-decoration:none;
  color: purple;
}
/*change color to black on hover*/
.nav-button:hover {
  color:black;
  border-bottom: #000000 solid 1px;
}
/* links to other sites (in images)*/
.nav-image {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif; 
  background-color: white;
  padding: 3.5px;
  padding-right: 3%;
  margin-left: 10px;
  height: 25px;
  width: auto;
}
/*add underline on hover*/
.nav-image:hover {
  border: #000000 solid 1px;
}

/*Footer Styling*/
.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: rgb(155, 41, 155);
  opacity: 0.9;
  height: 5%;
  margin-top: auto;
  z-index: 10;
}
.footer-sig {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  color: rgb(233, 224, 224);
  background-color: rgb(155, 41, 155);
  padding:1.5%;
  margin: 0;
}

/*styling initial blurb*/
.opener-container {
  position:relative;
  flex-direction: column;
  margin-top: 20px;
  height: 60vw;
  width: 80vw;
  top:35%;
  left:10%;
  background-color: darkgray;
  border-radius: 5px;
  margin-bottom: 20px;
}
.midground-image {
  position: relative;
  margin: 0;
  background-color: darkgrey;
  padding:0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.vt{
  border-radius: 5px;
}
.midground-text{
  position: absolute; 
  padding-top: 10%;
  top: 5%; 
  right: 1%; 
  width: 40%;
  height: 35%;
  z-index: 2;
  background-color: rgba(160, 98, 179, 0.6);
  border-radius: 15px;
}
.midground-text:hover{
  background-color: rgba(160, 98, 179, 0.8);
}
.midground-welcome{
  font-style: italic ;
  position: absolute;
  top:15%;
  left:15%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  font-size: 3vw;
}
.midground-opener{
  padding: 5%;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left:40%;
  transform: translate(-50%, -50%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
}
.midground-cmda-button {
  font-style: italic ;
  padding: 5%;
  font-size: 1.5vw;
  position: absolute;
  top: 75%;
  left: 20%;
  color: rgb(87, 85, 85);
  background-color: rgb(224, 217, 217);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  border: 3px solid rgb(87, 85, 85);
  border-radius: 7px;
}
.midground-cmda-button:hover {
  color: rgb(224, 217, 217);
  background-color: rgb(87, 85, 85);
}

/*Style the Additional Slides*/
.opener-container-2 {
  position:relative;
  display:flex;
  margin-top: 20px;
  height: 40vw;
  width: 80vw;
  top:35%;
  left:10%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.photo-container {
  background: blue;
  position: relative;
  width: 48%;
  height:100%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius:15px;
}
.text-container {
  border-radius: 5px;
  position: relative;
  width: 48%;
  height:100%;
  margin-left: 1%;
  margin-right: 1%;
}
.slide-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  font-style:italic;
  position: absolute;
  top:20%;
  left:30%;
  padding:5px;
  border-radius:5px;
  background-color: #4a1568a4;
  color: white;
  font-size:2vw;
}
.slide-photo {
  height:100%;
  width:100%;
  border-radius:15px;
}
.slide-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  font-size: 1.75vw;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.slide-button {
  font-style: italic ;
  padding: 5%;
  font-size: 1.5vw;
  position: relative;
  top: 10%;
  left: 20%;
  color: rgb(87, 85, 85);
  background-color: rgb(224, 217, 217);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  border: 3px solid rgb(87, 85, 85);
  border-radius: 7px;
}
.slide-button:hover {
  color: rgb(224, 217, 217);
  background-color: rgb(87, 85, 85);
}



