img {
    border-radius: 8px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
  background-color: white;
}
body {
  background-color: white;
}


/* The sidebar menu */
.sidebar {
    width: 16%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0%; /* Stay at the top */
    left: 0;
    background-color: #ffffff; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    padding-bottom: 5%;
    
  }
  .sidebar a {
    padding: 10% 10% 1% 30%;
    text-decoration: j;
    font-size: 120%;
    color: #000000;
    display: block;
    white-space: nowrap;
  }

  .title {
    padding: 10% 10% 1%;
    text-decoration: honeydew;
    font-size: 130%;
    color: #000000;
    display: block;
    white-space: nowrap;
  }

  .col-sm-2 {
    background-color: #ffffff;
  }

/* Navigation bar styling */
/*left side of search bar*/
.navigation-bar {
  position: fixed;
  background-color: white;
  border-bottom: 5px solid purple;
  padding: 10px;
  display: flex;
  justify-content: left;
  width: 100%;
  top: 0%;
  left: 0%;
}
/*right side of search bar*/
.navigation-socials {
  position: fixed;
  background-color: white;
  padding: 7px;
  margin-left: auto; 
  margin-right: 0;
  width: 100%;
  top: 0%;
  left: 85%;
}
/* links to other parts of the site*/
.nav-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif; 
  background-color: white;
  border-radius: 3px;
  padding: 6px;
  margin-right:3%;
  text-decoration:none;
  color: purple;
}
/*change color to black on hover*/
.nav-button:hover {
  color:black;
}
/* links to other sites (in images)*/
.nav-image {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif; 
  background-color: white;
  padding: 3.5px;
  padding-right: 15px;
  height: 25px;
  width: auto;
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  justify-content: left;
}

/*Footer Styling*/
.footer {
  background-color: rgb(155, 41, 155);
  height: 80px;
  margin-top: auto;
}
.footer-sig {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
  color: rgb(233, 224, 224);
  background-color: rgb(155, 41, 155);
  padding-left: 15%;
  padding:1.5%;
  margin: 0;
  
}

body {
  margin: 0;
}


